.item {
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    border-radius: 10%;
}
.list-item{
    width: 100%;
    max-width: 250px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    border-radius: 10%;
    border: 1px solid white;
}
.list-item:hover{
    border: none;
}

.container-iframe{
    padding: 10px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center
}
#header{
    background-color: black !important;
    top: 0 !important;
}
#main {
    max-height: 99vh;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: auto;
    justify-content:space-evenly;
    align-items: center;
    overflow-y:scroll;
}
#box{
    height: 100vh;
    display: flex;
}
iframe {
    aspect-ratio: 4 / 3;
    max-width: 800px;
	width: 100%;
}

@media (max-width: 576px) {
    body {
        background-color: lightblue;
    }
    .container {
        padding: 10px;
    }
}

/* Small Devices (Tablets) */
@media (max-width: 920px) {
    iframe{
        height: 300px;
        width: 500px;
    }
    .list-item{
        width: 170px;
        height: 170px;
    }
}

/* Medium Devices (Tablets and Small Laptops) */
@media (min-width: 920px) and (max-width: 1100px) {
    iframe{
        width: 600px;
        height: 85vh;
    }
}


/* Extra Large Devices (Large Desktops) */
@media (min-width: 1100px) {
    iframe{
        width: 800px;
    }
    .list-item{
        width: 220px;
        height: 170px;
    }
}