iframe {
    aspect-ratio: 4 / 3;
    width: 100%;
    border: none;
}
.container-iframe{
    min-width: 300px;
    min-height: 200px;
    margin-left: auto;    
    margin-right: auto;
    margin-top: 70px;
    resize:both;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
}
.returningDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap:wrap;
    width: 160px;
}
.item {
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    border-radius: 10%;
}
.list-item{
    width: 100%;
    max-width: 250px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    border-radius: 10%;
    border: 1px solid white;
    aspect-ratio: 16 / 9 !important;
}
.list-item:hover{
    border: none;
}
#header{
    background-color: black !important;
    top: 0 !important;
}
#main {
    max-height: 99vh;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content:space-evenly;
    overflow-y:scroll;
    padding: 0 !important;
}
#box{
    height: 100vh;
    display: flex;
}
#filter-container{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
#filter-container > div{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
#filter-select{
    color: black;
}
.checkbox-container {
    width: 10em;
}
@media (max-width: 576px) {
    .list-item{
        width: 150px;
        height: 120px;
    }
    .container {
        padding: 10px;
    }
    #box{
        flex-direction: column;
    }
    .container-iframe{
        width: 90% !important;  
    }
    #filter-container > div{
        justify-content: space-around;
    }
    #filter-container{
        margin-top: 10px !important;
    }
}

@media (max-width: 576px) and (orietation: landscape) {
    #filter-container > div{
        margin-left: 10px;
    }
}

/* Small Devices (Tablets) */
@media (min-width: 577px) and (max-width: 950px) and (orietation: portrait){
    .container-iframe{
        margin-left: 10px;
        width: 450px !important;
    }
    #box{
        width: 450px !important;
    }
    .list-item{
        width: 150px;
        height: 120px;
    }
    #filter-container{
        margin-top: 55px;
    }
    #filter-container > div{
        justify-content: space-around;
    }
}

/* Medium Devices (Tablets and Small Laptops) */
@media (min-width: 951px) and (max-width: 1100px) {
    .list-item{
        height: 100px;
        width: 150px;
    }
}


/* Extra Large Devices (Large Desktops) */
@media (min-width: 1100px) {
    .list-item{
        height: 100px;
        width: 150px;
    }
    #filter-container > div{
        margin-top: 0px !important;
        justify-content:space-evenly;
    }
}
/* CSS for portrait orientation */
@media (orientation: portrait) {
    .page {
      transform: rotate(90deg);
    }
  }
  
  /* CSS for landscape orientation */
  @media (orientation: landscape) {
    .page {
      transform: rotate(0deg);
    }
  }