
/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
}

header a:hover {
    color: #cccccc;
}

#showcase {
    min-height: 400px;
    background: url('https://via.placeholder.com/1200x400') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#main h1, #main p {
    margin-bottom: 20px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    margin: 2em 0 2em 0;
    padding: 0;
    text-align: center;
}
.copyright a {
    text-decoration: none;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    display: inline-block;
}

.social-icons a:hover {
    color: #e8491d;
}

#main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Individual items */
.item {
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    border-radius: 10%;

}
.list-item{
    width: 100%;
    max-width: 250px; /* Maximum width of the item */
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    border-radius: 10%;
}
.list-item:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
  
.container-of-iframe {
    display: flex;
    height: 0px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.container-iframe{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .list-item {
        width: 100%;
        aspect-ratio: 1 / 1;
    }
}